/*FONTS*/
@font-face {
    font-family: 'unb_probold';
    src: url('../fonts/unbbold/unb_pro_bold-webfont.eot');
    src: url('../fonts/unbbold/unb_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unbbold/unb_pro_bold-webfont.woff2') format('woff2'),
         url('../fonts/unbbold/unb_pro_bold-webfont.woff') format('woff'),
         url('../fonts/unbbold/unb_pro_bold-webfont.ttf') format('truetype'),
         url('../fonts/unbbold/unb_pro_bold-webfont.svg#unb_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'unbpro_regular';
    src: url('../fonts/unbpro_regular/unb_pro_regular-webfont.eot');
    src: url('../fonts/unbpro_regular/unb_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unbpro_regular/unb_pro_regular-webfont.woff2') format('woff2'),
         url('../fonts/unbpro_regular/unb_pro_regular-webfont.woff') format('woff'),
         url('../fonts/unbpro_regular/unb_pro_regular-webfont.ttf') format('truetype'),
         url('../fonts/unbpro_regular/unb_pro_regular-webfont.svg#unb_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*VARIABLES*/
:root{
    --button-color: #5168EC;
    --button-hover-color: #7486F0;
    --color-text: #9292A8;
    --background: #F5F7FF;
}

body{
    font-family: 'unbpro_regular';
}
/*MENU DE NAVIGATION*/
.navbar{ 
    padding: 2% 20% 0 20%;  
}

.lienlogo{
    text-align: right;
    padding-right: 40%;
    text-decoration: none;
}

.elem_menu {
    font-family: 'unbpro_regular';
    color: var(--color-text);
    padding-right: 2%;
    text-align: center;
    text-decoration: none;
}

/*TEXTE ACCUEIL + FORMULAIRE*/
.start_for_free{
    font-family: 'unb_probold';
    padding-top: 5%;
    text-align: center;
    font-size: 45px;
    margin: auto;
}
.start_for_free_1{
    margin: auto;
    height: 60px;
}
.start_for_free_2{
    margin: auto;
}
.start_for_free_3{
    margin: auto;
    color: var(--color-text);
    font-size: 20px;
}
#email{
    font-family: 'unbpro_regular';
    color: var(--color-text);
    font-size: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: -10px -10px 50px 10px #E9E6E6;
    height: 40px;
    width: 460px;
    padding: 0px 0px 15px 30px;
}
#button_start_for_free{
    font-family: 'unbpro_regular';
    color: white;
    background-color: var(--button-color);
    font-size: 15px;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 160px;
    padding-bottom: 55px;
    margin-left: -5%;
}
#button_start_for_free:hover{
    background-color: var(--button-hover-color);
    transition: 0.2s;
}

/*3 IMAGES "KNOWLEDGE IS THE NEW COOL"*/
.knowledgeIsTheNewCool{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    padding-top: 1%;
}
.left{
    padding-top: 30%;
    grid-column: 1/2;
}
.center{
    grid-column: 3/4;
}
.right{
    padding-top: 55%;
    grid-column: 5/6;
}

/*BRING YOUR WORK TOGETHER*/
.container_bringYourWork{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    padding-top: 2%;
}
.container{
    grid-column: 2/3;
    display: inline-block;
    width: 520px;
    height: 637px;
    background-color: var(--background);
    perspective: 500px;
    left: 285px;
    top: 90px;
    border-radius: 15px;
}
.picture_container{
    position: absolute;
    left: 8%;
    top: 5%;
    box-shadow: 0 0 1em rgb(222, 229, 238);
    border-radius: 15px;
}

.text_container{
    grid-column: 3/4;
    margin-left: auto;
}

.title{
    font-family: 'unb_probold';
    font-size: 25px;
}

h2{
    font-size: 22px;
}
#contenu{
    margin-bottom: 10%;
    width: 450px;
    /*height: 210px;*/
    line-height: 30px;
    box-shadow: 0 0 1em rgb(222, 229, 238);
    border-radius: 10px;
}
.contenu label{
    cursor: pointer;
}
#my-block{
    display: none;
    line-height: 30px;
    border: 1px dotted #fff;
    margin:2px;
    transition: all 1s;
  }
#toggle-block:checked + #my-block{
    display: block;
    transition: all 1s;
    max-height: 210px;
    background-color: var(--background)
}

.contenu:focus{
    box-shadow: none;
    background-color: var(--background);   
}

#button_bring{
    font-family: 'unbpro_regular';
    color: white;
    background-color: var(--button-color);
    font-size: 15px;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 190px;
    padding-bottom: 55px;
    margin-top: 5%;
}
#button_bring:hover{
    background-color: var(--button-hover-color);
    transition: 0.2s;
}

/*JOIN*/
.titrePartenaires{
    font-family: 'unb_probold';
    color: var(--color-text);
    text-align: center;
    font-size: 22px;
    padding-top: 10%;
}
.partenaires{
    padding: 2% 2% 0 2%;
    text-align: center;
}
/*PORTRAITS*/
.portraits{
    line-height: 30px;
}
.steve{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 2fr 2fr;
    color: var(--color-text);
}
.description{
    grid-column: 2/3;
    width: 110%;
    padding-top: 15%;
}
#title_portrait{
    font-family: 'unb_probold';
    font-size: 40px;
    color: black;
    line-height: 50px;
    
}
.citation{
    color: black;
    background-color: var(--background);
    width: 110%;
    grid-column: 4/5;
    margin-top: 17%;
    padding-left: 14%;
}
.photo_portrait{
    border-radius: 35%;
    position: absolute;
    margin: 2% 0% 0% -6%;
}
.emily{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 2fr 2fr;
    color: var(--color-text);
}

.oleg{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 2fr 2fr;
    color: var(--color-text);
}
.description2{
    grid-column: 4/5;
    width: 110%;
    padding-top: 15%;
}

.citation2{
    color: black;
    background-color: var(--background);
    width: 420px;
    grid-column: 2/3;
    margin-top: -45%;
    padding-left: 14%;
    height: 280px;
}

#button_start_for_free3{
    font-family: 'unbpro_regular';
    color: white;
    background-color: var(--button-color);
    font-size: 15px;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 190px;
    padding-bottom: 55px;
    margin: 5% 40% 2% 40%;
}
#button_start_for_free3:hover{
    background-color: var(--button-hover-color);
    transition: 0.2s;
}
/*READY TO USE TEMPLATE*/
.templates{
    background-color: var(--button-color);
    text-align: center;
    margin-bottom: -0.25%;
}
.texte_templates{
    padding: 2% 0 2% 0;
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 25px;
    font-family: 'unb_probold';
}
#button_templates{
    font-family: 'unbpro_regular';
    color: var(--button-color);
    background-color: white;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 190px;
    padding-bottom: 55px;
    
}
#button_templates:hover{
    box-shadow: 10%;
}


/*INTEGRATIONS*/
.integrations{
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr 2fr 1fr;
    background-color: #71d1dc;
    font-family: 'unb_probold';
    color: white;
    padding: 5% 0 5% 0;
}
.texte_integrations{
    grid-column: 2/3;
    text-align: center;
    font-size: 35px;
    line-height: 25px;
}
.image_integrations{
    grid-column: 4/5;
}
#button_integrations{
    font-family: 'unbpro_regular';
    color: #71d1dc;
    background-color: white;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 190px;
    padding-bottom: 55px;
    
}
#button_inegrations:hover{
    box-shadow: 10%;
}